@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    text-align: center;
}
#units{
    text-align: center;
    margin-top: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.unit{
    cursor: pointer;
    border-radius: 0 100px 100px 100px;
    background: rgb(0,118,190);
    background: linear-gradient(225deg, rgba(0,118,190,1) 0%, rgb(4 57 95) 100%);
    width: 150px;
    height: 150px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    transform: rotate(45deg);
    box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -webkit-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -moz-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);}
.unit h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-45deg);
}

#unit{
    text-align: center;
    margin-top: 40px;
}
.section{
    cursor: pointer;
    border-radius: .4rem;
    background: rgb(0,118,190);
    background: linear-gradient(225deg, rgba(0,118,190,1) 0%, rgb(4 57 95) 100%);
    width: 150px;
    height: 150px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -webkit-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -moz-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);}
.section h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    transform: rotate(-45deg);
}
@keyframes emptyanim {
    0% {
        background-position: -600px 0
    }
    100% {
        background-position: 600px 0
    }
}
.section:empty{
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: emptyanim;
    animation-timing-function: linear;
    background-color: #f7f8f8;
    background: linear-gradient(-45deg , #f0f0f3 20%, #f9fdff 20%, #EEEFF5FF 30%);
    background-size: 600px 150px;
}

.unit:empty{
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: emptyanim;
    animation-timing-function: linear;
    background-color: #f7f8f8;
    background: linear-gradient(to right, #f0f0f3 10%, #f9fdff 20%, #EEEFF5FF 30%);
    background-size: 600px 80px;
}
#section{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.sec-item{
    flex-direction: column;
    border-radius: .7rem;
    background: rgb(245, 248, 250);
    font-family: sans-serif;
    /*background: linear-gradient(225deg, rgba(0,118,190,1) 0%, rgba(72,191,145,1) 100%);*/
    width: 150px;
    height: 150px;
    color: #7a8296;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    border: 1px #a4a4be;
    box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -webkit-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);
    -moz-box-shadow: 12px 12px 23px -5px rgba(0, 62, 91, 0.35);}
.sec-item:empty{
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: emptyanim;
    animation-timing-function: linear;
    background-color: #f7f8f8;
    background: linear-gradient(-45deg , #f0f0f3 20%, #f9fdff 20%, #EEEFF5FF 30%);
    background-size: 600px 150px;
}
.sec-item h2{
    font-weight: lighter;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*font-family: Arial, Helvetica, sans-serif;*/
    display: block;
}.sec-item h4{
    font-weight: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 55px;
    margin: 5px;
    color: white;
    /*font-family: Arial, Helvetica, sans-serif;*/
    display: block;
}
.sec-item.level{
    background-image: url("../img/level.svg");
}
.sec-item.uv{
    background-image: url("../img/uv2.svg");
    background-position: center;
}
.sec-item.temp{
    background-image: url("../img/temp2.svg");
    background-position: center;
    background-size:cover
}
.sec-item.humidity{
    background-image: url("../img/FrameHum.jpg");
    background-position: center;
    background-size:cover
}
.sec-item.level h2{
    color: #004870;
}
.sec-item.uv h2{
    color: #585d08;
}
.sec-item.temp h2{
    color: #704d00;
}
.sec-item.humidity h2{
    color: #006370;
}

#notifications p.danger{
    background-color: #a21f1f;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 4px;
}
#notifications p.info{
    background-color: #1f3ea2;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 4px;
}
#notifications p.success{
    background-color: #28a21f;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 4px;
}


header{
    background-color: #0076BE;
    min-height: 40px;
    padding: 8px;
    color: white;
    border-radius: 0 0 50px 50px;
}


#up-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #004b75;
    padding: 0 8px;
}

.nav-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

*:focus {
    outline: none !important;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#lastUpdate{
    display: inline-block;
    padding: 0 5px;
    border-radius: 0.7rem;
}

.ms::after {
    content: 'sekúnd';
}

@supports (-moz-appearance:none) {
    #ms-div::after {
        right: 1.5em;
    }
}

#ms-div:hover::after,
#ms-div:focus-within::after {
    right: 1.5em;
}

#ms-div::after {
    position: absolute;
    top: 2px;
    right: .5em;
    transition: all .05s ease-in-out;
}

#ms-div {
    display: inline-block;
    position: relative;
}

.min::after {
    content: 'minút';
}

@supports (-moz-appearance:none) {
    #min-div::after {
        right: 1.5em;
    }
}

#min-div:hover::after,
#min-div:focus-within::after {
    right: 1.5em;
}

#min-div::after {
    position: absolute;
    top: 2px;
    right: .5em;
    transition: all .05s ease-in-out;
}

#min-div {
    display: inline-block;
    position: relative;
}

@media (prefers-color-scheme: dark) {
    ::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

/* ------------------- Input range from here ONWARDS ------------------------------------------------------- */

#input-range{
    -webkit-appearance:none;
    width:85%;
    height:16px;
    border-radius:10px;
    background-color:rgb(37 99 235);
    outline:none;
}
#input-range::-webkit-slider-thumb{
    -webkit-appearance:none;
    width:40px;
    height:40px;
    border-radius:50%;
    background-color: white;
}

@media (prefers-color-scheme: dark) {
    #input-range::-webkit-slider-thumb{
        box-shadow: none;
    }
    /*#span-range{*/
    /*    background-color:white;*/
    /*    color:black;*/
    /*}*/
    /*#span-range:before{*/
    /*    border-bottom:12px solid white;*/
    /*}*/
}

@media (prefers-color-scheme: light) {
    #input-range::-webkit-slider-thumb{
        box-shadow: 0 0 1px 2px #000000;
    }
    /*#span-range{*/
    /*    background-color:rgb(37 99 235);*/
    /*    color:white;*/
    /*}*/
    /*#span-range:before{*/
    /*    border-bottom:12px solid rgb(37 99 235);*/
    /*}*/
}

#span-range{
    position:absolute;
    margin-left:14px;
    margin-top:-6px;
    width:50px;
    height:30px;
    /*background-color:white;*/
    /*color:black;*/
    background-color:rgb(37 99 235);
    color:white;
    border-radius:3px;
    text-align:center;
    line-height:30px;
}
#span-range:before{
    content:'';
    position:absolute;
    border-right:9px solid transparent;
    border-left:9px solid transparent;
    /*border-bottom:12px solid white;*/
    border-bottom:12px solid rgb(37 99 235);
    left:-10px;
    top:50%;
    transform:translateY(-50%) rotate(-90deg);
}
/* ------------------- Interval slider from here ONWARDS ------------------------------------------------------- */

/*[slider] {*/
/*    position: relative;*/
/*    height: 14px;*/
/*    border-radius: 10px;*/
/*    text-align: left;*/
/*    margin-top: 3rem !important;*/
/*}*/

/*[slider] > div {*/
/*    position: absolute;*/
/*    left: 13px;*/
/*    right: 15px;*/
/*    height: 14px;*/
/*}*/

/*[slider] > div > [inverse-left] {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    height: 14px;*/
/*    border-radius: 10px;*/
/*    background-color: #CCC;*/
/*    margin: 0 7px;*/
/*}*/

/*[slider] > div > [inverse-right] {*/
/*    position: absolute;*/
/*    right: 0;*/
/*    height: 14px;*/
/*    border-radius: 10px;*/
/*    background-color: #CCC;*/
/*    margin: 0 7px;*/
/*}*/

/*[slider] > div > [range] {*/
/*    position: absolute;*/
/*    left: 0;*/
/*    height: 14px;*/
/*    border-radius: 14px;*/
/*    background-color: rgb(37 99 235);*/
/*}*/

/*[slider] > div > [thumb] {*/
/*    position: absolute;*/
/*    top: -7px;*/
/*    z-index: 2;*/
/*    height: 28px;*/
/*    width: 28px;*/
/*    text-align: left;*/
/*    margin-left: -11px;*/
/*    cursor: pointer;*/
/*    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);*/
/*    background-color: #FFF;*/
/*    border-radius: 50%;*/
/*    outline: none;*/
/*}*/

/*[slider] > input[type=range] {*/
/*    position: absolute;*/
/*    pointer-events: none;*/
/*    -webkit-appearance: none;*/
/*    z-index: 3;*/
/*    height: 14px;*/
/*    top: -2px;*/
/*    width: 100%;*/
/*    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";*/
/*    filter: alpha(opacity=0);*/
/*    -moz-opacity: 0;*/
/*    -khtml-opacity: 0;*/
/*    opacity: 0;*/
/*}*/

/*div[slider] > input[type=range]::-ms-track {*/
/*    -webkit-appearance: none;*/
/*    background: transparent;*/
/*    color: transparent;*/
/*}*/

/*div[slider] > input[type=range]::-moz-range-track {*/
/*    -moz-appearance: none;*/
/*    background: transparent;*/
/*    color: transparent;*/
/*}*/

/*div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {*/
/*    background: transparent;*/
/*    border: transparent;*/
/*}*/

/*div[slider] > input[type=range]:focus {*/
/*    outline: none;*/
/*}*/

/*div[slider] > input[type=range]::-ms-thumb {*/
/*    pointer-events: all;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border-radius: 0px;*/
/*    border: 0 none;*/
/*    background: red;*/
/*}*/

/*div[slider] > input[type=range]::-moz-range-thumb {*/
/*    pointer-events: all;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border-radius: 0px;*/
/*    border: 0 none;*/
/*    background: red;*/
/*}*/

/*div[slider] > input[type=range]::-webkit-slider-thumb {*/
/*    pointer-events: all;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border-radius: 0px;*/
/*    border: 0 none;*/
/*    background: red;*/
/*    -webkit-appearance: none;*/
/*}*/

/*div[slider] > input[type=range]::-ms-fill-lower {*/
/*    background: transparent;*/
/*    border: 0 none;*/
/*}*/

/*div[slider] > input[type=range]::-ms-fill-upper {*/
/*    background: transparent;*/
/*    border: 0 none;*/
/*}*/

/*div[slider] > input[type=range]::-ms-tooltip {*/
/*    display: none;*/
/*}*/

/*[slider] > div > [sign] {*/
/*    opacity: 0;*/
/*    position: absolute;*/
/*    margin-left: -11px;*/
/*    top: -39px;*/
/*    z-index:3;*/
/*    background-color: rgb(37 99 235);*/
/*    color: #fff;*/
/*    width: 28px;*/
/*    height: 28px;*/
/*    border-radius: 28px;*/
/*    -webkit-border-radius: 28px;*/
/*    align-items: center;*/
/*    -webkit-justify-content: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

/*[slider] > div > [sign]:after {*/
/*    position: absolute;*/
/*    content: '';*/
/*    left: 0;*/
/*    border-radius: 16px;*/
/*    top: 19px;*/
/*    border-left: 14px solid transparent;*/
/*    border-right: 14px solid transparent;*/
/*    border-top-width: 16px;*/
/*    border-top-style: solid;*/
/*    border-top-color: rgb(37 99 235);*/
/*}*/

/*[slider] > div > [sign] > span {*/
/*    font-size: 12px;*/
/*    font-weight: 700;*/
/*    line-height: 28px;*/
/*}*/

/*[slider] > div > [sign] {*/
/*    opacity: 1;*/
/*}*/